@media (min-width: 1024px) {
    header {
        height: 100px;
        width: 100%;
        background-color: #4C7BF3;

        display: flex;
        align-items: center;
        justify-content: right;
    }

    section{
        display: flex;
        align-items: center;
        justify-self: center;
        flex-direction: column;
    }

    .header-buttons {
        display: flex;
        flex-direction: row;
        gap: 15px;
        padding: 25px;
    }

    .header-buttons a {
        text-decoration: none;
    }

    .header-buttons button {
        width: 150px;
        height: 40px;
        background-color: #FFFFFF;
        color: #4C7BF3;
        font-size: 20px;
        font-weight: 400;
        border: none;
    }

    .submit {
        color: #FFFFFF;
        width: 208px;
        height: 50px;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        background-color: #4C7BF3;
        border: none;

        margin-top: 10px;
    }

    .headind-main {
        font-size: 30px;
        font-weight: 600;
        color: #4C7BF3;
        margin-top: 20px;
    }

    table {
        border-collapse: collapse;
    }

    .tr-main {
        width: auto;
        height: 50px;
        color: #FFFFFF;
        background-color: #4C7BF3;
        
        font-size: 20px;
        font-weight: 600;
    }

    .tr-main th {
        width: 248px;
        height: 50px;
        border: none;
        margin: 0;
    }

    .tr-user {

        width: auto;
        height: 50px;
        color: #1A1A1A;
        background-color: #F7F9FC;
        
        font-size: 17px;
        font-weight: 400;
    }

    .actions-buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 0;
    }

    .edit-b {
        width: 50%;
        height: 50px;
        background-color: #4C7BF3;
        color: #F7F9FC;
        font-size: 20px;
        font-weight: 600;
        border: none;
    }

    .delete-b {
        width: 50%;
        height: 50px;
        background-color: #F35C4C;
        color: #F7F9FC;
        font-size: 20px;
        font-weight: 600;
        border: none;
    }

    .table-container {
        display: flex;
        margin-top: 10px;
    }
}

@media (max-width: 1023px) and (min-width: 601px) {

    header {
        height: 100px;
        width: 100%;
        background-color: #4C7BF3;

        display: flex;
        align-items: center;
        justify-content: right;
    }

    section{
        display: flex;
        align-items: center;
        justify-self: center;
        flex-direction: column;
    }

    .header-buttons {
        display: flex;
        flex-direction: row;
        gap: 15px;
        padding: 25px;
    }

    .header-buttons a {
        text-decoration: none;
    }

    .header-buttons button {
        width: 150px;
        height: 40px;
        background-color: #FFFFFF;
        color: #4C7BF3;
        font-size: 20px;
        font-weight: 400;
        border: none;
    }

    .submit {
        color: #FFFFFF;
        width: 208px;
        height: 50px;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        background-color: #4C7BF3;
        border: none;

        margin-top: 10px;
    }

    .headind-main {
        font-size: 25px;
        font-weight: 600;
        color: #4C7BF3;
        margin-top: 20px;
    }

    table {
        border-collapse: collapse;
    }

    .tr-main {
        width: auto;
        height: 40px;
        color: #FFFFFF;
        background-color: #4C7BF3;
        
        font-size: 10px;
        font-weight: 600;
    }

    .tr-main th {
        width: 70px;
        height: 40px;
        border: none;
        margin: 0;
    }

    .tr-user {

        width: auto;
        height: 40px;
        color: #1A1A1A;
        background-color: #F7F9FC;
        
        font-size: 10px;
        font-weight: 400;
    }

    .actions-buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 0;
    }

    .edit-b {
        width: 50%;
        height: 40px;
        background-color: #4C7BF3;
        color: #F7F9FC;
        font-size: 12px;
        font-weight: 600;
        border: none;
    }

    .delete-b {
        width: 50%;
        height: 40px;
        background-color: #F35C4C;
        color: #F7F9FC;
        font-size: 12px;
        font-weight: 600;
        border: none;
    }

    .table-container {
        display: flex;
        margin-top: 10px;
    }
}

@media (max-width: 602px) {

    header {
        height: 50px;
        width: 100%;
        background-color: #4C7BF3;

        display: flex;
        align-items: center;
        justify-content: right;
    }

    section{
        display: flex;
        align-items: center;
        justify-self: center;
        flex-direction: column;
    }

    .header-buttons {
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding: 15px;
    }

    .header-buttons a {
        text-decoration: none;
    }

    .header-buttons button {
        width: 70px;
        height: 20px;
        background-color: #FFFFFF;
        color: #4C7BF3;
        font-size: 15px;
        font-weight: 400;
        border: none;
    }

    .submit {
        color: #FFFFFF;
        width: 70px;
        height: 20px;
        font-size: 9px;
        font-weight: 600;
        text-align: center;
        background-color: #4C7BF3;
        border: none;

        margin-top: 10px;
    }

    .headind-main {
        font-size: 20px;
        font-weight: 600;
        color: #4C7BF3;
        margin-top: 20px;
    }

    table {
        border-collapse: collapse;
    }

    .tr-main {
        width: auto;
        height: 30px;
        color: #FFFFFF;
        background-color: #4C7BF3;
        
        font-size: 7px;
        font-weight: 600;
    }

    .tr-main th {
        width: 40px;
        height: 20px;
        border: none;
        margin: 0;
    }

    .tr-user {

        width: auto;
        height: 30px;
        color: #1A1A1A;
        background-color: #F7F9FC;
        
        font-size: 10px;
        font-weight: 400;
    }

    .actions-buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 0;
    }

    .edit-b {
        width: 50%;
        height: 30px;
        background-color: #4C7BF3;
        color: #F7F9FC;
        font-size: 6px;
        font-weight: 600;
        border: none;
    }

    .delete-b {
        width: 50%;
        height: 30px;
        background-color: #F35C4C;
        color: #F7F9FC;
        font-size: 6px;
        font-weight: 600;
        border: none;
    }

    .table-container {
        display: flex;
        margin-top: 10px;
    }
}