<section>

        <h1 class="headind-main">List of user</h1>

        <div class="table-container">
            <table>
                <tr class="tr-main">
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Status</th>
                    <th>Pass Policy</th>
                    <th>Role</th>
                    <th>Pass Expires at</th>
                    <th>Actions</th>
                </tr>

                <tr class="tr-user" *ngFor="let user of users">
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.password }}</td>
      
                    <td>
                        <select [(ngModel)]="user.status" (change)="onStatusChange(user, $event)">
                        <option *ngFor="let s of statuses" [value]="s">{{ s }}</option>
                        </select>
                    </td>

                    <td>
                        <select [(ngModel)]="user.passPolicy" (change)="onPassPolicyChange(user, $event)">
                        <option *ngFor="let p of passPolicies" [ngValue]="p">{{ p }}</option>
                        </select>
                    </td>

                    <td>
                        <select [(ngModel)]="user.role" (change)="onRoleChange(user, $event)">
                        <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
                        </select>
                    </td>

                    <td>{{ user.passExpiresAt | date:'short' }}</td>

                    <td>
                        <div class="actions-buttons">
                        <button class="edit-b">Edit</button>
                        <button class="delete-b" (click)="deleteUser(user.id)">Delete</button>
                        </div>
                    </td>
                    </tr>
                </table>
                </div>

            <button type="button" class="submit">Add user</button>
    </section>