body {
    font-family: 'Lato', sans-serif;
    background-color: #E5EDFE;
}

* {
    margin: 0;
    padding: 0;
}

@media (min-width: 1024px) {
    header {
        height: 100px;
        width: 100%;
        background-color: #4C7BF3;

        display: flex;
        align-items: center;
        justify-content: right;
    }

    section{
        display: flex;
        align-items: center;
        justify-self: center;
    }

    .header-buttons {
        display: flex;
        flex-direction: row;
        gap: 15px;
        padding: 25px;
    }

    .header-buttons a {
        text-decoration: none;
    }

    .header-buttons button {
        width: 150px;
        height: 40px;
        background-color: #FFFFFF;
        color: #4C7BF3;
        font-size: 20px;
        font-weight: 400;
        border: none;
    }

    .welcome {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        padding: 15px;
    }

    .welcome h1 {
        font-size: 30px;
        font-weight: 600;
        color: #4C7BF3;
    }

    .welcome p {
        font-size: 28px;
        font-weight: 400;
        color: #4C7BF3;
    }

}

@media (max-width: 1023px) and (min-width: 601px) {

    header {
        height: 100px;
        width: 100%;
        background-color: #4C7BF3;

        display: flex;
        align-items: center;
        justify-content: right;
    }

    section{
        display: flex;
        align-items: center;
        justify-self: center;
    }

    .header-buttons {
        display: flex;
        flex-direction: row;
        gap: 15px;
        padding: 25px;
    }

    .header-buttons a {
        text-decoration: none;
    }

    .header-buttons button {
        width: 150px;
        height: 40px;
        background-color: #FFFFFF;
        color: #4C7BF3;
        font-size: 20px;
        font-weight: 400;
        border: none;
    }

    .welcome {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        padding: 15px;
    }

    .welcome h1 {
        font-size: 25px;
        font-weight: 600;
        color: #4C7BF3;
    }

    .welcome p {
        font-size: 22px;
        font-weight: 400;
        color: #4C7BF3;
    }
}

@media (max-width: 602px) {

    header {
        height: 50px;
        width: 100%;
        background-color: #4C7BF3;

        display: flex;
        align-items: center;
        justify-content: right;
    }

    section{
        display: flex;
        align-items: center;
        justify-self: center;
    }

    .header-buttons {
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding: 15px;
    }

    .header-buttons a {
        text-decoration: none;
    }

    .header-buttons button {
        width: 70px;
        height: 20px;
        background-color: #FFFFFF;
        color: #4C7BF3;
        font-size: 15px;
        font-weight: 400;
        border: none;
    }

    .welcome {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        padding: 10px;
    }

    .welcome h1 {
        font-size: 18px;
        font-weight: 600;
        color: #4C7BF3;
    }

    .welcome p {
        font-size: 15px;
        font-weight: 400;
        color: #4C7BF3;
    }
}